<script setup lang="ts">
import {computed, ref} from "vue";

let id = 0;
const text = ref('');
const hideCompleted = ref(false);
const todos = ref([{
  id: id++,
  text: "awesome description",
  done: true
}, {
  id: id++,
  text: "big task",
  done: false
}]);

const textToggleHideCompleted = computed(() => {
  const completed = " completed"
  return hideCompleted.value ? "Show" + completed : "Hide" + completed;
});

function addTodo() {
  if (text.value !== "") {
    todos.value.push({
      id: id++,
      text: text.value,
      done: false
    });
    text.value = "";
  }
}

function removeTodo(id: number) {
  todos.value = todos.value.filter(todo => todo.id !== id);
}

function toggleHideCompleted() {
  return hideCompleted.value = !hideCompleted.value;
}

const filteredTodos = computed(() => {
  return todos.value.filter(todo => {
    return !hideCompleted.value || !todo.done;
  });
});

</script>

<template>
  <main class="block mx-auto mt-4 max-w-7xl">
    <h1 class="block text-3xl bg-gray-600 text-white p-4">Todos list</h1>
    <div class="p-4">
      <div class="flex items-stretch my-6">
        <label for="todo" class="flex items-center px-2 border rounded-l-md">Add todo</label>
        <input class="flex-1 px-2 py-4 border" id="todo" v-model="text" type="text"/>
        <button @click="addTodo" class="px-3 border rounded-r-md bg-gray-600 text-white">
          Add todo
        </button>
      </div>
      <ul class="mt-4 p-4 border rounded-md">
        <li class="flex content-center mt-3" v-for="todo in filteredTodos" :key="todo.id">
          <p :class="{'line-through': todo.done }">- {{ todo.text }}</p>
          <button class="" @click="removeTodo(todo.id)">X</button>
          <input v-model="todo.done" type="checkbox">
        </li>
      </ul>
      <button class="flex mt-4 ml-auto p-2 border bg-red-700 text-white" @click="toggleHideCompleted">
        {{ textToggleHideCompleted }}
      </button>
    </div>
  </main>
</template>
